.App {
  background: #fafafa;
  height: 100vh;
  text-align: center;
  font-weight: bold;
  font-family: Arial;
}
.App-header {
  padding-top: 8px;
  text-align: center;
  margin: 0 auto;
  font-size: 25px;
  padding-right: 60px;
}
.openSidebar .MuiButton-label {
  color: rgb(52, 116, 235);
  font-size: 20px;
  font-weight: bold;
}
.openSidebar {
  color: rgb(52, 116, 235);
}
header {
  color: rgb(52, 116, 235);
  background-color: white;
  display: flex;
  font-size: 40px;
  border-bottom: 1px black solid;
}
.footer {
  /* margin: 5px 0px 5px 200px; */
  position: absolute;
  margin-left: 450px;
  bottom: 0;
}
.categories {
  margin-top: 10vh;
}
.categories .MuiButton-outlined {
  margin: 10px;
  width: 120px;
}
.categories .MuiButton-containedSizeSmall {
  margin: 5px;
}
.category {
  font-size: 20px;
  border: black 1px solid;
  display: inline-block;
  margin: 0 20px;
  width: 150px;
  padding: 10px 5px;
}
.creditCard {
  height: 800px;
  width: 100px;
  margin-bottom: 100px;
  border-radius: 200px;
}
.creditNcost .MuiButton-disableElevation{/*クレカボタン*/
  border-radius: 200px;
  margin-bottom: 30px;
  width: 120px;
}
.MuiButton-disableElevation {/*カテゴリ一つ一つ*/
  box-shadow: none;
  height: 80px;
}
.inputCost {/*入力欄*/
  height: 100px;
  font-size: 50px;
  margin-right: 20px;
  margin-top: 50px;
}
.sendCost {
  height: 100px;
  font-size: 50px;
  margin-right: 20px;
  margin-top: 50px;
  margin-bottom: 15px;
}
.yen {
  margin-left: 30px;
  height: 100px;
  font-size: 50px;
  margin-right: 20px;
}
.leftCost {/*¥200の部分*/
  font-size: 50px;
  margin: 0 5px;
}
.creditNcost {
  margin: 50px 0;
}
.result {
  list-style: none;
}
.creditNcost .MuiButton-containedSizeLarge {/*送信ボタン*/
  border-radius: 200px;
  width: 120px;
  margin-left: 15px;
  font-weight: bold;
  font-size: 15px;
  height: 80px;
  margin-bottom: 25px;
}
.leftMoney {
  font-size: 20px;
}
.plus, .minus {
  width: 15px;
  font-size: 30px;
}
.plus .MuiButton-label {/*plus*/
  font-size: 30px;
  width: 100%;
  display: inherit;
  color: #595858;
  align-items: inherit;
  justify-content: inherit;
}
.minus .MuiButton-label {/*minus*/
  font-size: 50px;
  color: #595858;
  font-weight: lighter;
  width: 100%;
  display: inherit;
  align-items: inherit;
  justify-content: inherit;
}
.category_title {
  margin-left: 8px;
}