.App {
  text-align: center;
}
.App-header {
  font-size: 40px;
  border-bottom: 1px black solid;
}
.footer {
  /* margin: 5px 0px 5px 200px; */
  position: absolute;
  margin-left: 300px;
  bottom: 0;
}
.footer p {
  display: inline-block;
  font-size: 30px;
  width: 200px;
  padding: 20px;
  border: black 1px solid;
  margin: 10px 0;
}
.categories {
  margin-top: 10vh;
}
.category {
  font-size: 20px;
  border: black 1px solid;
  display: inline-block;
  margin: 0 20px;
  width: 150px;
  padding: 10px 5px;
}
.creditCard {
  height: 80px;
  width: 100px;
  margin-right: 20px;
}
.inputCost {
  height: 100px;
  font-size: 50px;
  margin-right: 20px;
  margin-top: 50px;
}
.graph_tmp {
  height: 35vh;
  width: 30vw;
  margin: 0 auto 30px  auto;
  border: black 1px solid;
}
.result {
  list-style: none;
}
.inputDate{
  font-size: 50px;
  width: 10vw;
  margin-right: 20px;
  margin-top: 50px;
}
.leftMoney {
  font-size: 20px;
}
.middle {
  /* width: 70vw; */
}
.plus, .minus {
  width: 15px;
}